<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template:: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="template :: navigator"></header>

<main role="main" class="container">
    <h2 class="mt-5">Event List</h2>
    <div class="listing-container container">
        <div class="row table-header">
            <div class="col-1">Id</div> <!--id-->
            <div class="col-2">Name</div>
            <div class="col-1">EventLength</div>
            <div class="col-1">EntryFee</div>
            <div class="col-1">MaxPlayers</div>
            <div class="col-2">Organizer</div>
            <div class="col-2">Category</div>
            <div class="col-2">Actions</div>
        </div>
        <div class="row colored" th:each=" event : ${eventList}">
            <div class="col-1" th:text="${event.id}"></div> <!--id-->
            <div class="col-2" th:text="${event.name}"></div>
            <div class="col-1" th:text="${event.eventLengthInMinutes}"></div>
            <div class="col-1" th:text="${event.entryFee}"></div>
            <div class="col-1" th:text="${event.maxPlayers}"></div>
            <div class="col-2" th:text="${event.getOrganizer().username}"></div>
            <div class="col-2" th:text="${event.getSport().name}"></div>
            <div class="col-2"><a th:href="@{'/adminEvent/remove/'+${event.id}}" th:field="${event.id}" th:value="${event.id}" >Remove</a> </div>
            <div class="col-2"></div>
        </div>
    </div>
</main>

<footer th:replace="template :: foot">
</footer>
<div th:replace="template :: scripts">
</div>
</body>
</html>