<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template:: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="template :: navigator"></header>

<main role="main" class="container">
    <h2 class="mt-5">Sport List</h2>
    <div class="listing-container container">
        <div class="row table-header">
            <div class="col-1">Id</div> <!--id-->
            <div class="col-2">Name</div>
            <div class="col-2">Actions</div>
        </div>
        <div class="row colored" th:each=" sport : ${sportList}">
            <div class="col-1" th:text="${sport.id}"></div> <!--id-->
            <div class="col-2" th:text="${sport.name}"></div>
            <div class="col-2"><a th:href="@{'/admin/remove/'+${sport.id}}" th:field="${sport.id}" th:value="${sport.id}" >Remove</a> </div>
            <div class="col-2"></div>
        </div>
    </div>
</main>

<footer th:replace="template :: foot">
</footer>
<div th:replace="template :: scripts">
</div>
</body>
</html>