<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="template:: head">
    <script th:src="@{/src/Avatar.png}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="template :: navigator"></header>

<main role="main" class="container">
    <h1 class="mt-5">Sport application</h1>
    <h2 class="mt-5">Aktualne Spotkania</h2>
    <div class="listing-container container">
        <div class="row table-header">
            <!--<div class="col-1">Id</div> &lt;!&ndash;id&ndash;&gt;-->
            <div class="col-3">Adres</div>
            <div class="col-2">Data</div>
            <div class="col-1">Dlugosc</div>
            <div class="col-1">Oplata</div>
            <div class="col-1">Max Graczy</div>
            <div class="col-1">Organizator</div>
            <div class="col-1">Kategoria</div>
            <!--<div class="col-2">Actions</div>-->
        </div>
        <div class="row colored" th:each=" event : ${eventList}">
            <!--<div class="col-1" th:text="${event.id}"></div> &lt;!&ndash;id&ndash;&gt;-->
            <div class="col-3" th:text="${event.name}"></div>
            <div class="col-2" th:text="${event.eventDateTime}"></div>
            <div class="col-1" th:text="${event.eventLengthInMinutes}"></div>
            <div class="col-1" th:text="${event.entryFee}"></div>
            <div class="col-1" th:text="${event.maxPlayers}"></div>
            <div class="col-1" th:text="${event.getOrganizer().username}"></div>
            <div class="col-1" th:text="${event.getSport().name}"></div>
            <div class="col-1">
                <a th:href="@{'/client/listPlayers/'+${event.id}}" th:field="${event.id}"
                   th:value="${event.id}">List</a>
            </div>
            <div class="col-1"><a th:href="@{'/client/join/'+${event.id}}" th:field="${event.id}"
                                  th:value="${event.id}">Join</a></div>
            <div class="col-1"></div>
        </div>
    </div>
</main>

<div th:replace="template :: chat"></div>
<footer th:replace="template :: foot">
</footer>
<div th:replace="template :: scripts">
</div>
</body>
</html>